/*
	Theme Name: Adventure Tours Child
	Theme URI: http://themeforest.net/user/themedelight/portfolio
	Description: Adventure Tours child theme
	Template: adventure-tours
*/


.icons-set .icons-set__item__title{
  font-size: 1.3em;
}
.icons-set .icons-set__item__description {
  color: #000;
}
.wpb_wrapper .title--underline.title--decoration-bottom-left{
  border-bottom: 1px solid #000;
}
.atlist .atlist__item__price{
  margin-top: 0px;
}
.form-block {
  display: block;
}

#modal2 .form-block__price-details{
  display: none;
}
#modal2 .form-block{
  display: block !important;
}
.book-now{
  background: #ff47a0 !important;
}
h3.title__primary{
  font-size: 1.500em;
}

.home .icons-set__item__icon-wrap{
  background: transparent;
  color: black;
}

.home .icons-set__item__icon-wrap a i{
  color: black;
}

.home .icons-set__item__icon-wrap:before{
  display: none;
}

.parallax-section{
	overflow:none;
}
.parallax-section--header {
    height: 400px;
    width: 100%;
}
.main-nav > li{
  margin-right: 0px;
width: 127px;
text-align: center;
}
.main-nav .sub-menu{
  width: 127px;
}
.main-nav > li:hover > .sub-menu{
  text-align: center;
}
body #ui-datepicker-div{
  z-index: 99999 !important;
}
body .atgrid__item__content{
height:142px;
}

body .atgrid__item__price__button{
  font-size: 0.96em;
}

body .home .margin-bottom-large{
  margin-bottom: 0px;
}

body .home .margin-bottom {
    margin-bottom: 0px;
}

body .atlist__item__price .amount, .archive .atlist__item__price .amount, .tour-single .price-decoration__value {
    font-size: 1.3em;
}

.home .atgrid__item__top img{
  width: 80%;
  max-width:80%;
  height: 500px;
}

.price-decoration__label{
  border:0px;
  -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.price-decoration__value{
  border:0px;
  -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* Header */

.header__content {
    height: 60px;
    line-height: 60px !important;
    position: relative;
}

.header-wrap {
    height: 60px;
    min-height: 60px !important;
}
#logoLink img {
    max-height: 60px !important;
    max-width: 300px;
}

.header-wrap--sticky-header .header__content {
    min-height: 0 !important;
    line-height: 60px !important;
}

.logo a {
    font-size: 0px !important;
}

/* END Header */

/* MODAL */

.click-modal {
    width: auto;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    border: 2px solid #f6f6f6;
    position: relative;
    border-radius: 5px;
  }
.modal-header .close {
  float: right;
  font-size: 30px;
  line-height: 1;
  color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 0;
  position: relative;
  top: -20px;
  right: -20px;
  z-index: 10;
  filter: alpha(opacity=20);
  opacity: 1;
}

.modal-header .close:hover,
.modal-header .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
/*end of NG ADDON*/
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  				background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (max-width: 450px) {
  .home .margin-top{
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  .home  .margin-bottom{
    margin-bottom: 0;
  }
  .modal-dialog {.home .atgrid__item__top img
  	width: 600px;
  	margin: 110px auto;
  }
  .modal-content {
  	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
  	width: 300px;
  }
}
@media (max-width: 1200px) {
  .slicknav_menu {
  	display: block !important;
  }
	.main-nav-header{
		display:none !important;
	}
}
@media (min-width: 992px) {
  .modal-lg {
  	width: 900px;
  }
}

@media (max-width: 991px){
  body .atgrid__item__content{
    height: 100%;
  }
}

/* END MODAL */

@media (max-width: 1280px) {
  .home .atgrid__item__top img {
    height: 100%;
  }
  .atgrid__item__content{
      height:200px;
  }
}

